<template>
  <b-container>
    <h2 class="text-start mt-3 mb-4">Sample CRUD(Create Read Update Delete)</h2>

    <div class="row">
      <div class="col-sm-4">
        <b-input-group size="sm" class="mb-3">
          <b-form-input v-model="keywords"></b-form-input>
          <b-input-group-append>
            <b-button @click="fetchCustomers"><b-icon icon="search"></b-icon> Search</b-button>
          </b-input-group-append>
        </b-input-group>
      </div>
      <div class="col-sm-8 text-right">
        <b-button class="btn-sm btn-success" @click="showAddModal"><b-icon icon="plus"></b-icon> Add New Customer</b-button>
      </div>
    </div>

    <b-table striped responsive hover show-empty bordered
      id="my-table"
      :items="items"
      :per-page="0"
      :current-page="currentPage"
      :fields="tableFields"
    >
      <template #cell(gender)="data">
        <span>{{ data.value === 'f' ? 'Female' : 'Male' }}</span>
      </template>

      <template #cell(is_married)="data">
        <b-icon v-if="data.value === 1" icon="check-circle-fill"></b-icon>
      </template>
      <template #cell(action)="data">
        <b-button-group size="sm">
          <button class="btn btn-info my-2 my-sm-0 btn-sm" @click="showCustomerDetail(data.item)"><b-icon class="b-icon" icon="search"></b-icon></button>
          <button class="btn btn-warning my-2 my-sm-0 btn-sm" @click="showConfirmationDeleteBox(data.item)"><b-icon class="b-icon" icon="pencil-square"></b-icon></button>
          <button class="btn btn-danger my-2 my-sm-0 btn-sm" @click="showConfirmationDeleteBox(data.item)"><b-icon class="b-icon" icon="trash"></b-icon></button>
        </b-button-group>
      </template>
    </b-table>
    <b-pagination
      @change="handlePageChange"
      v-model="currentPage"
      :total-rows="rows"
      :per-page="perPage"
      aria-controls="my-table"
      size="md"
    ></b-pagination>

    <b-modal ref="add-modal" id="add-modal" size="lg" :title="modalTitle" button-size="md" @ok="createOrUpdateCustomer" :ok-title="btkOkModalTitle">
      <div class="row g-3 align-items-center">
        <div class="col-6">
          <b-form-group label="Email address:" label-for="input-1">
            <b-form-input v-if="modalSTate === 'edit'" disabled id="input-1" v-model="customerData.email" type="email" placeholder="Enter email" required></b-form-input>
            <b-form-input v-if="modalSTate === 'add'" id="input-1" v-model="customerData.email" type="email" placeholder="Enter email" required></b-form-input>
          </b-form-group>
        </div>
        <div class="col-6">
          <b-form-group label="Customer Name:" label-for="input-2">
            <b-form-input id="input-2" v-model="customerData.name" type="text" placeholder="Enter name" required></b-form-input>
          </b-form-group>
        </div>
        <div class="col-6">
          <b-form-group label="Password:" label-for="input-3">
            <b-form-input id="input-3" v-model="customerData.password" type="password" placeholder="Enter password" required></b-form-input>
          </b-form-group>
        </div>
        <div class="col-6">
          <b-form-group label="Gender:" label-for="input-5">
            <b-form-select id="input-5" v-model="customerData.gender" :options="optionGender" required></b-form-select>
          </b-form-group>
        </div>
        <div class="col-12">
          <b-form-group label="Customer Address:" label-for="input-4">
            <b-form-input id="input-4" v-model="customerData.address" type="text" placeholder="Enter address" required></b-form-input>
          </b-form-group>
        </div>
        <div class="col-6">
          <b-form-group id="input-group-6">
            <b-form-checkbox v-model="customerData.is_married" value="1">Is Married</b-form-checkbox>
          </b-form-group>
        </div>
      </div>
    </b-modal>

  </b-container>
</template>

<script>
export default {
  name: 'Customers',
  data () {
    return {
      btkOkModalTitle: 'Save',
      modalSTate: '',
      modalTitle: '',
      perPage: 10,
      currentPage: 1,
      items: [],
      rows: 0,
      keywords: '',
      customerData: {
        name: '',
        email: '',
        password: '',
        gender: '',
        is_married: '',
        address: ''
      },
      optionGender: [{ text: 'Male', value: 'm' }, { text: 'Female', value: 'f' }],
      tableFields: [
        {
          key: 'no',
          label: 'No'
        },
        {
          key: 'name',
          label: 'Name',
          tdClass: 'text-start'
        },
        {
          key: 'email',
          label: 'Email',
          tdClass: 'text-start'
        },
        {
          key: 'gender',
          label: 'Gender'
        },
        {
          key: 'is_married',
          label: 'Is Married'
        },
        {
          key: 'action',
          label: 'Action'
        }
      ]
    }
  },
  mounted () {
    this.fetchCustomers()
  },
  methods: {
    handlePageChange (value) {
      this.currentPage = value
      this.fetchCustomers()
    },
    fetchCustomers: function () {
      this.items = []
      this.$http.get('/customers?page=' + this.currentPage + '&size=' + this.perPage + '&keywords=' + this.keywords).then((result) => {
        this.items = result.result.data
        this.items.forEach((element, index) => {
          /* eslint-disable */
          element['no'] = (this.currentPage - 1) * this.perPage + index + 1
          /* eslint-enable */
        })
        this.rows = result.result.total
      })
    },
    showConfirmationDeleteBox (valueItem) {
      this.$bvModal.msgBoxConfirm('Are you sure want to delete customer "' + valueItem.name + '" ?', {
        title: 'Confirmation',
        size: 'sm',
        buttonSize: 'sm',
        okVariant: 'danger',
        okTitle: 'Delete',
        headerClass: 'p-2 border-bottom-0',
        footerClass: 'p-2 border-top-0',
        centered: true
      })
        .then(value => {
          if (value === true) {
            this.$http.delete('/customers/' + valueItem.id).then(() => {
              this.fetchCustomers()
              this.makeToast('success', 'Customer deleted successfully', 'Success')
            })
          }
        })
    },
    makeToast (variant = null, body, title, append = false) {
      this.$bvToast.toast(body, {
        title: title,
        variant: variant,
        solid: true,
        appendToast: append,
        toaster: 'b-toaster-bottom-right'
      })
    },
    showAddModal () {
      this.btkOkModalTitle = 'Save'
      this.modalSTate = 'add'
      this.modalTitle = 'Add New Customer'
      this.$refs['add-modal'].show()
      this.customerData = {
        name: '',
        email: '',
        password: '',
        gender: '',
        is_married: '',
        address: ''
      }
    },
    hideAddModal () {
      this.$refs['add-modal'].hide()
    },
    showCustomerDetail (item) {
      this.btkOkModalTitle = 'Update'
      this.modalSTate = 'edit'
      this.modalTitle = 'Update Customer'
      this.customerData = item
      this.$refs['add-modal'].show()
    },
    createOrUpdateCustomer () {
      if (this.modalSTate === 'add') {
        this.$http.post('/customers', this.customerData).then((result) => {
          console.log(result)
          if (result.status.code === 200) {
            this.fetchCustomers()
            this.makeToast('success', 'New customer added', 'Success')
          } else {
            for (const key in result.result) {
              const obj = result.result[key]
              for (const prop in obj) {
                this.makeToast('danger', obj[prop], result.status.message, true)
              }
            }
          }
        }).catch((e) => {
          this.makeToast('danger', 'Error create new customer', e.toString())
        })
      } else if (this.modalSTate === 'edit') {
        this.$http.put('/customers/' + this.customerData.id, this.customerData).then((result) => {
          if (result.status.code === 200) {
            this.fetchCustomers()
            this.makeToast('success', 'Customer has been updated successfully', 'Success')
          } else {
            for (const key in result.result) {
              const obj = result.result[key]
              for (const prop in obj) {
                this.makeToast('danger', obj[prop], result.status.message, true)
              }
            }
          }
        }).catch((e) => {
          this.makeToast('danger', 'Error update customer', e.toString())
        })
      }
    }
  }
}
</script>

<style scoped>
</style>
